@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: #c599b6;
  --color-primaryHover: #846b7b;
  --color-secondary: #e6b2ba;
  --color-light: #f8ece3;
  --color-highlight: #fad0c4;
  --color-Coltext: #5c3f4f;
}

html {
  font-family: "Fredoka", sans-serif;
}

.text-border {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
